/* Définition de la taille minimale du body */
body {
    min-height: 4096px;
}

/* Style pour le footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000; /* Couleur de base */
    color: #fff; /* Couleur du texte */
    text-align: center;
    padding: 10px 0;
    transition: background-color 1s ease;
}